@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.kiosk {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/assets/images/background.png) no-repeat 0 0;
}

.left{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.page-1,
.background{
  height: 3401px;
  width: 2160px;
}

.title{
  padding: 180px 0 0 80px;
}
.page-1{
  position: relative;
}

.page-1{
  .title{
    margin-bottom: 125px;
  }
  .content{
    padding-left: 150px;
  }
  .item1{
    margin-bottom: 95px;
  }
  .item3{
    margin: 118px 0 50px;
  }
  .item4{
    padding-left: 120px;
  }
  .item5{
    padding-top: 110px;
    padding-bottom: 40px;
  }
  .item7{
    margin: 110px 0 40px;
  }
  .item8{
    position: relative;
    margin-left: 80px;
  }
  .foot{
    position: absolute;
    left: 80px;
    bottom: 30px;
  }
}
