@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.kiosk {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/assets/images/background.png) no-repeat 0 0;
}

.swiper-container{
  width: 2130px;
  overflow: hidden;
  &:has(.slide1.swiper-slide-active){
    overflow: visible;
  }
}


.background{
  overflow: hidden;
}
.left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(3840px * 1.5);
  height: calc(3840px * 1.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

@keyframes expandCircle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  .popup-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.3s 1s ease-in-out;
    z-index: 2;
    position: relative;
  }
  &.show{
    transition: all 0s ease-in-out;
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    .overlay{
      animation: expandCircle 1s ease-out forwards;
    }
    .popup-content{
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.page-1,
.background{
  height: 3401px;
  width: 2160px;
}

.swiper-slide *{
  will-change: auto;
}

.foot{
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.012rem;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  left: 80px;
  color: #555a5c;
  div+div{margin-top: 10px;}
  b{
    font-weight: 700;
    &.black{

    }
  }
}


.foot-logo{
  position: absolute;
  bottom:20px;
  right: 107px;
  width: 367px;
  height: 119px;
  background: url(#{$image-path}/foot-logo.png) no-repeat 0 0;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulses {
  0% {
      transform: translateX(-50%) scale(1);
  }
  50% {
      transform: translateX(-50%) scale(1.15);
  }
  100% {
      transform: translateX(-50%) scale(1);
  }
}
.intro{
  position: relative;
  .intro-img{
    padding-top: 30px;
  }
  &-top{
    position: absolute;
    top: 125px;
    left: 80px;
  }
  .intro-1 {
    position: absolute;
    top: 250px;
    left: 50%;
    animation: pulses 5s infinite;
    transform-origin: center center;
    transform: translateX(-50%);
  }
}


.title{
  padding: 180px 0 0 80px;
  position: relative;
  span{
    display: none;
    position: absolute;
    left: 240px;
    top: 195px;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -0.012rem;
    color: rgb(3,33,105);
    em{
      font-style: normal;
      font-family: 'NeoSans';
    }
  }
}



.page-9{
  .foot{
    position: absolute;
    bottom: 30px;
    left: 77px;
  }
  .title{
    padding-left: 80px;
    padding-bottom: 128px;
  }
  .item1{
    padding-left: 155px;
    padding-bottom: 30px;
  }
  .item3{
    padding-left: 155px;
    padding-bottom: 30px;
    padding-top: 195px;
  }
  .item2,
  .item4{
    position: relative;
    div{
      position: absolute;
      opacity: 0;
      transition: all .9s;
    }
  }
  .item2{
    .a{
      top: 225px;
      left: 308px;
      transition-delay: 0.4s;
    }
    .b{left: 1300px;top: 200px;transition-delay: .6s;transform: translateY(70px);}
    .c{left: 1300px;top: 420px;transition-delay: .9s;transform: translateY(70px);}
    .d{left: 1300px;top: 640px;transition-delay: 1.2s;transform: translateY(70px);}
  }
  .item4{
    .a{
      top: 140px;
      left: 950px;
      transition-delay: 0.4s;
      z-index: 1;
    }
    .b{left: 320px;top: 240px;transition-delay: .6s;transform: translateY(70px);z-index: 2;}
    .c{left: 320px;top: 440px;transition-delay: .9s;transform: translateY(70px);z-index: 2;}
    .d{left: 320px;top: 640px;transition-delay: 1.2s;transform: translateY(70px);z-index: 2;}
  }
}
.swiper-slide-active{
  .page-9{
    .item4,
    .item2{
      .a{opacity: 1;}
      .b,
      .c,
      .d{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}