@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;


.page-4{
    .content{
        padding-top: 170px;
    }
}
.page-4{
    .item2{
      position: relative;
    }
    .gh-img{
        position: absolute;
        top: 533px;
        left: 480px;
        width: 0;
        overflow: hidden;
        transition: all 3s 0.3s cubic-bezier(0.33, 1, 0.68, 1);

        .imgover{
            width: 1497px;
            position: relative;
        }
    }
    .switch{
        position: absolute;
        top: 466px;
        right: 142px;
        opacity: 0;
    }
    .bar-conts{
      position: absolute;
      bottom: 457px;
      display: flex;
      justify-content: center;
      > div{
        height: 100%;
        position: relative;
      }
    }
    .bar-cont1{height: 396px;left: 734px;
      .bars{background-color: #69a3d7;}
      .numbs{
        color: #69a3d7;
      }
    }
    .bar-cont2{height: 416px;left: 837px;
      .bars{background-color: #d6d5d6;}
      .numbs{color: #959497;}
    }
    .bar-cont3{height: 414px;left: 1094px;
      .bars{background-color: #69a3d7;}
      .numbs{color: #69a3d7;}
    }
    .bar-cont4{height:433px;left: 1197px;
      .bars{background-color: #d6d5d6;}
      .numbs{color: #959497;}
    }
    .bar-cont5{height: 451px;left: 1430px;
      .bars{background-color: #69a3d7;}
      .numbs{color: #69a3d7;}
    }
    .bar-cont6{height: 423px;left: 1535px;
      .bars{background-color: #d6d5d6;}
      .numbs{color: #959497;}
    }
    .bar-cont7{height: 478px;left: 1640px;
      .bars{background-color: #ffcd00;}
      .numbs{color: #ffcd00;}
    }
    .bars{
      position: absolute;
      bottom: 0;
      width: 96px;
      height: 0;
      border-radius: 40px 40px 0 0;
      overflow: hidden;
      transition: all 1.3s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    }
    .numbs{
      width: 96px;
      text-align: center;
      position: absolute;
      top: 0;
      font-size: 40px;
      font-weight: 700;
      opacity: 0;
      transition: all 1.3s 1.5s cubic-bezier(0.33, 1, 0.68, 1);
      transform: translateY(-40px);
    }
  }
  
  .swiper-slide-active{
    .page-4{
      .gh-img{
        width: 1497px;
      }
      .bar-cont1 .bars{height: 320px;}
      .bar-cont2 .bars{height: 354px;}
      .bar-cont3 .bars{height: 346px;}
      .bar-cont4 .bars{height: 370px;}
      .bar-cont5 .bars{height: 395px;}
      .bar-cont6 .bars{height: 368px;}
      .bar-cont7 .bars{height: 420px;}
      .numbs{opacity: 1;
        transform: translateY(0);
      }
      .switch{
        opacity: 1;
        transition: all 1s 1.5s cubic-bezier(0.33, 1, 0.68, 1);
      }
    }
  }
