<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <a href="#" class="footer-link-edu">교육문의</a>
      <div>
        <a href="#" class="footer-tel">02) 2152-3914~5</a>
        <a href="#" class="footer-email">open@exc.co.kr</a>
      </div>
      <div class="footer-link-wrap">
        <a href="#" class="footer-link">카카오톡</a>
        <span class="line"></span>
        <a href="#" class="footer-link">엑스퍼트아카데미</a>
        <span class="copyright"><b>C</b>opyrightExpertConsulting All right reserved.</span>
      </div>
    </div>
    <div class="footer-logo"><img src="/assets/images/footer-logo.png" alt="logo"></div>
  </div>
</footer>