<nav class="nav" id="nav">
    <div class="menu-container">
        <div class="wheel" id="wheel">
            <div class="menu-item menu-item-1">
                <img src="/assets/images/m1.png" alt="">
            </div>

            <div class="menu-item menu-item-2">
                <img src="/assets/images/m1.png" alt="">
            </div>

            <div class="menu-item menu-item-3">
                <img src="/assets/images/m1.png" alt="">
            </div>

            <div class="menu-item menu-item-4">
                <img src="/assets/images/m1.png" alt="">
            </div>

            <div class="menu-item menu-item-5">
                <img src="/assets/images/m1.png" alt="">
            </div>

            <div class="menu-item menu-item-6">
                <img src="/assets/images/m1.png" alt="">
            </div>
        </div>

        <div class="home-button">
            <svg viewBox="0 0 24 24">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
            </svg>
        </div>
    </div>
</nav>