<div class="page-2">
    <div class="content">
        <div class="item1"><img src="/assets/page2/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page2/img_02.png" alt="">
            <button class="popup-button">버튼</button>
        </div>
        <div class="item3"><img src="/assets/page2/img_03.png" alt=""></div>
        <div class="item4"><img src="/assets/page2/img_04.png" alt=""></div>
        <div class="item5"><img src="/assets/page2/img_05.png" alt=""></div>
        <div class="item6"><img src="/assets/page2/img_06.png" alt=""></div>
    </div>
    <div class="foot"><img src="/assets/page2/img_07.png" alt=""></div>
</div>
