<div class="page-5">
    <div class="content">
        <div class="item1"><img src="/assets/page5/img_01.png" alt=""></div>
        <div class="item2"><img src="/assets/page5/img_02.png" alt="">
            <div class="gh-img">
                <div class="imgover"><img src="/assets/page4/gh.png" alt=""></div>
            </div>
            <div class="switch"><img src="/assets/images/switch.png" alt=""></div>
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button></button>
        <button class="current"></button>
        <button></button>
    </div>
    <div class="foot"><img src="/assets/page5/img_03.png" alt=""></div>
</div>