<div class="page-1">
    <div class="title"><img src="/assets/page1/page1-title.png" alt=""><span>Introduction to <em>Omlyclo</em></span>

    <button class="popup-button" id="popup-button1">
        <img src="/assets/page2/!.png" alt="" class="q" style="animation: none; -webkit-animation: none;">
        <div class="tev_home_hand_box">
            <div class="tev_home_hand_box_first" style="animation: none; -webkit-animation: none;">
                <img src="/assets/page2/hand.png" alt="">
            </div>
            <div class="tev_home_hand_box_second" style="animation: none; -webkit-animation: none;">
                <img src="/assets/page2/right.png" alt="">
            </div>
            <div class="tev_home_hand_box_third" style="animation: none; -webkit-animation: none;">
                <div class="circle"></div>
            </div>
        </div>
    </button>
    
    </div>
    <div class="content">
        <div class="item2">
            <img src="/assets/page1/page1-img2.png" alt="">
            <div class="a"><img src="/assets/page1/1.png" alt=""></div>
            <div class="b"><img src="/assets/page1/2.png" alt=""></div>
            <div class="c"><img src="/assets/page1/3.png" alt=""></div>
        </div>
        <div class="item3"><img src="/assets/page1/page1-img3.png" alt=""></div>
        <div class="item4"><img src="/assets/page1/page1-img4.png" alt=""></div>
        <div class="item7"><img src="/assets/page1/page1-img7.png" alt=""></div>
        <div class="item8">
            <div class="back"><img src="/assets/page1/page1-img8.png" alt="">
                <div class="flash flash-1"><img src="/assets/page1/page1-flash1.png" alt=""></div>
                <div class="flash flash-2"><img src="/assets/page1/page1-flash2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div><b>References</b> <b>1</b>. Omlyclo®. Summary of product characteristics. <b>2</b>. Xolair. Summary of product characteristics. </div>
    </div>
</div>