<div class="page-2">
    <div class="title"><img src="/assets/images/page2-title.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page2-img1.png" alt=""></div>
        <div class="item2"><img src="/assets/images/page2-img2.png" alt=""></div>
        <div class="item3"><img src="/assets/images/page2-img3.png" alt=""></div>
        <div class="item4"><img src="/assets/images/page2-img4.png" alt=""></div>
        <div class="item5"><img src="/assets/images/page2-img5.png" alt=""></div>
        <div class="item6"><img src="/assets/images/page2-img6.png" alt=""></div>
        <div class="item7"><img src="/assets/images/page2-img7.png" alt=""></div>
        <div class="item8"><img src="/assets/images/page2-img8.png" alt=""></div>
        <div class="item9"><img src="/assets/images/page2-img9.png" alt=""></div>
        <div class="item10"><img src="/assets/images/page2-img10.png" alt=""></div>
    </div>
    <div class="foot"><img src="/assets/images/page1-foot.png" alt=""></div>
</div>