<div class="page-5">
    <div class="title"><img src="/assets/images/page5-title.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page5_02.png" alt=""></div>
        <div class="item2"><img src="/assets/images/page5_03.png" alt=""></div>
        <div class="item3"><img src="/assets/images/page5_04.png" alt=""></div>
        <div class="item4"><img src="/assets/images/page5_05.png" alt=""></div>
        <div class="item5"><img src="/assets/images/page5_06.png" alt=""></div>
        <div class="item6"><img src="/assets/images/page5_07.png" alt=""></div>
        <div class="item7"><img src="/assets/images/page5_08.png" alt=""></div>
    </div>
    <div class="paging">
        <button></button>
        <button></button>
        <button class="current"></button>
        <button></button>
    </div>
    <div class="foot"><img src="/assets/images/page5-foot.png" alt=""></div>
</div>