<div class="page-7">
    <div class="content">
        <div class="item1"><img src="/assets/page7/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page7/img_02.png" alt="">
            <div class="gh-img">
                <div class="imgover"><img src="/assets/page7/gh.png" alt=""></div>
            </div>
        </div>
        <div class="item3">
            <img src="/assets/page7/img_03.png" alt="">
            <div class="gh-img2">
                <div class="imgover"><img src="/assets/page7/gh2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div><b>CSU,</b> chronic spontaneous urticaria; <b>PK,</b> pharmacokinetics; <b>QoL,</b> quality of life; <b>OMA,</b> omalizumab; <b>SD,</b> standard deviation; <b>TEAE,</b> treatment-emergent<br> adverse event; <b>TESAE,</b> treatment-emergent serious adverse event.</div>
        <div><b>References 1.</b> Saini SS, et al. Allergy. 2025 Jan 9. doi: 10.1111/all.16446. Epub ahead of print. <b>2.</b> European Medicine Agency. Omlyclo® EPAR public <br>assessment report.</div>
    </div>
</div>