<div class="page-1">
    <div class="title"><img src="/assets/images/title-1.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page1-img1.png" alt=""></div>
        <div class="item2"><img src="/assets/images/page1-img2.png" alt=""></div>
        <div class="item3"><img src="/assets/images/page1-img3.png" alt=""></div>
        <div class="item4"><img src="/assets/images/page1-img4.png" alt=""></div>
        <div class="item5"><img src="/assets/images/page1-img5.png" alt=""></div>
        <div class="item6"><img src="/assets/images/page1-img6.png" alt=""></div>
        <div class="item7"><img src="/assets/images/page1-img7.png" alt=""></div>
        <div class="item8"><img src="/assets/images/page1-img8.png" alt=""></div>
    </div>
    <div class="foot"><img src="/assets/images/page1-foot.png" alt=""></div>
</div>