<div class="page-4">
    <div class="content">
        <div class="img1"><img src="/assets/page4/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page4/img_02.png" alt="">
            <div class="gh-img">
                <div class="imgover">
                    <img src="/assets/page4/gh.png" alt="">
                </div>
            </div>
            <div class="switch"><img src="/assets/images/switch.png" alt=""></div>

            <div class="gh-img2">
                <div class="imgover">
                    <img src="/assets/page4/gh2.png" alt="">
                </div>
            </div>
            <div class="switch2"><img src="/assets/images/switch.png" alt=""></div>


            
            
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button class="current"></button>
        <button></button>
    </div>
    <div class="foot">
        <div><b>CFB,</b> change from baseline; <b>HSS7,</b> weekly hives severity score; <b>ISS7,</b> weekly itch severity score; <b>OMA,</b> omalizumab; <b>SD,</b> standard deviation.</div>
        <div><b>Reference 1.</b> Saini SS, et al. Allergy. 2025 Jan 9. doi: 10.1111/all.16446. Epub ahead of print.</div>
    </div>
</div>