<div class="page-4">
    <div class="content">
        <div class="img1"><img src="/assets/page4/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page4/img_02.png" alt="">
            <div class="gh-img">
                <div class="imgover">
                    <img src="/assets/page4/gh.png" alt="">
                </div>
            </div>
            <div class="switch"><img src="/assets/images/switch.png" alt=""></div>
            <div class="bar-conts bar-cont1"><div><div class="numbs">63.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont2"><div><div class="numbs">72.7</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont3"><div><div class="numbs">69.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont4"><div><div class="numbs">74.1</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont5"><div><div class="numbs">77.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont6"><div><div class="numbs">74</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont7"><div><div class="numbs">81.3</div><div class="bars"></div></div></div>
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button class="current"></button>
        <button></button>
        <button></button>
    </div>
    <div class="foot"><img src="/assets/page4/img_03.png" alt=""></div>
</div>