<div class="page-3">
    
    <div class="content">
        <div class="item1"><img src="/assets/page3/img_01.png" alt=""></div>
        <div class="item3">
            <img src="/assets/page3/img_02.png" alt="">
            <div class="bar-container a">
                <div class="bar bar-1"></div>
                <div class="line"><img src="/assets/images/num-l1.png" alt=""></div>
                <div class="cont"><img src="/assets/page3/page3-n1.png" alt=""></div>
            </div>
            <div class="bar-container b">
                <div class="bar bar-2"></div>
                <div class="line"><img src="/assets/images/num-l2.png" alt=""></div>
                <div class="cont"><img src="/assets/page3/page3-n2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="paging">
        <button class="current"></button>
        <button></button>
        <button></button>
    </div>
    <div class="foot">
        <div><b>CFB,</b> change from baseline; <b>CI,</b> confidence interval; <b>ISS7,</b> weekly itch severity score; <b>LS,</b> least squares; <b>OMA,</b> omalizumab; <b>SD,</b> standard deviation;<b>SE,</b> standard error.</div>
        <div><b>Reference 1.</b> Saini SS, et al. Allergy. 2025 Jan 9. doi: 10.1111/all.16446. Epub ahead of print.</div>
    </div>
    
</div>