<div class="page-3">
    <div class="title"><img src="/assets/images/page3-title.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page3-img1.png" alt=""></div>
        <div class="item2"><img src="/assets/images/page3-img2.png" alt=""></div>
        <div class="item3">
            <img src="/assets/images/page3.png" alt="">
            <div class="gh-down">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
            </div>
        </div>
    </div>
    <div class="foot"><img src="/assets/images/page3-foot.png" alt=""></div>
</div>