<div class="page-1">
    <div class="title"><img src="/assets/page1/page1-title.png" alt=""><span>Introduction to <em>Omlyclo</em></span></div>
    <div class="content">
        <div class="item2">
            <img src="/assets/page1/page1-img2.png" alt="">
            <div class="a"><img src="/assets/page1/page1-1.png" alt=""></div>
            <div class="b"><img src="/assets/page1/page1-2.png" alt=""></div>
            <div class="c"><img src="/assets/page1/page1-3.png" alt=""></div>
        </div>
        <div class="item3"><img src="/assets/page1/page1-img3.png" alt=""></div>
        <div class="item4"><img src="/assets/page1/page1-img4.png" alt=""></div>
        <div class="item7"><img src="/assets/page1/page1-img7.png" alt=""></div>
        <div class="item8">
            <div class="back"><img src="/assets/page1/page1-img8.png" alt="">
                <div class="flash flash-1"><img src="/assets/page1/page1-flash1.png" alt=""></div>
                <div class="flash flash-2"><img src="/assets/page1/page1-flash2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div><b>References</b> <b>1</b>. Omlyclo®. Summary of product characteristics. <b>2</b>. Xolair. Summary of product characteristics. </div>
    </div>
</div>