<div class="page-2">
    <div class="content">
        <div class="item1"><img src="/assets/page2/img_01.png" alt="">
            <button class="popup-button">
                <img src="/assets/page2/!.png" alt="" class="q">
                <div class="tev_home_hand_box">
                    <div class="tev_home_hand_box_first">
                        <img src="/assets/page2/hand.png" alt="">
                    </div>
                    <div class="tev_home_hand_box_second">
                        <img src="/assets/page2/right.png" alt="">
                    </div>
                    <div class="tev_home_hand_box_third">
                        <div class="circle"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="item2">
            <img src="/assets/page2/img_02.png" alt="">
        </div>
        <div class="item3">
            <div class="txt1"><img src="/assets/page2/txt1.png" alt=""></div>
            <div class="txt2"><img src="/assets/page2/txt2.png" alt=""></div>
            <div class="txt3"><img src="/assets/page2/txt3.png" alt=""></div>
        </div>
    </div>
    <div class="foot">
        <div><b>ref-OMA,</b> EU-approved reference omalizumab; <b>CFB,</b> change from baseline; <b>CSU,</b> chronic spontaneous urticaria; <b>ISS7,</b> weekly itch severity score; <b>OMA,</b> omalizumab; <b>PK,</b> pharmacokinetics; <b>QoL,</b> quality of life.</div>
        <div><b>Reference 1.</b> Saini SS, et al. Allergy. 2025 Jan 9. doi: 10.1111/all.16446. Epub ahead of print.</div>
    </div>
    
</div>
