<div class="page-4">
    <div class="title"><img src="/assets/images/page4-title.png" alt=""></div>
    <div class="content">
        <div class="item1"><img src="/assets/images/page4_01.png" alt=""></div>
        <div class="item2"><img src="/assets/images/page4_02.png" alt=""></div>
        <div class="item3"><img src="/assets/images/page4_03.png" alt=""></div>
        <div class="item4">
            <img src="/assets/images/page4_04.png" alt="">
            <div class="bar-conts bar-cont1"><div><div class="numbs">63.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont2"><div><div class="numbs">72.7</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont3"><div><div class="numbs">69.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont4"><div><div class="numbs">74.1</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont5"><div><div class="numbs">77.5</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont6"><div><div class="numbs">74</div><div class="bars"></div></div></div>
            <div class="bar-conts bar-cont7"><div><div class="numbs">81.3</div><div class="bars"></div></div></div>
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button class="current"></button>
        <button></button>
        <button></button>
    </div>
    <div class="foot"><img src="/assets/images/page4-foot.png" alt=""></div>
</div>