<div class="page-6">
    <div class="content">
        <div class="item1"><img src="/assets/page6/img_01.png" alt=""></div>
        <div class="item2">
            <img src="/assets/page6/img_02.png" alt="">
            
        </div>
        <div class="item3">
            <img src="/assets/page6/img_03.png" alt="">
            
        </div>
    </div>
    <div class="paging">
        <button></button>
        <button></button>
        <button></button>
        <button class="current"></button>
    </div>
    <div class="foot"><img src="/assets/page6/img_04.png" alt=""></div>
</div>